h1,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

body {
  /* background-color: aquamarine; */
  background-image: url(../pexels-balisong-terence-8556602.jpg);
  height: auto;
  width: auto;
}
.MalaTarlac1{
  width: 80%;
  background-color: bisque;
  /* background-color: tomato; */
  margin-left: auto;
  margin-right: auto;
}